#Binaries
/fitForm
/feedFitForm
/genFitForm
/twoisland
/uniform

#Executable files
/execWF
/makeMig
/makeMut
/makeRecom
/readMig
/readMut
/readParameters
/readRecom
/settle

# Data files used by program
/census
/mig
/mut
/recom

#Error logs
/err_log

#gdb Initialization files
/.gdbinit

# Saves
/saves

#Misc
/rand_history
/input

#Tables
/table*

#Image files
*.png

#Shell scripts
*.sh

#Python scripts and droppings
*.py
__pycache__

#Text files
*.txt
#Except README.txt
!/README.txt
